---
http_interactions:
- request:
    method: get
    uri: https://rest.coinapi.io/v1/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Coinapi-Key:
      - CE92E1A2-B2E4-4AD1-9537-F3BB7FF14C9A
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\r\n  {\r\n    \"asset_id\": \"BTC\",\r\n    \"name\": \"Bitcoin\",\r\n
        \   \"type_is_crypto\": 1,\r\n    \"data_start\": \"2010-07-17\",\r\n    \"data_end\":
        \"2019-06-16\",\r\n    \"data_quote_start\": \"2014-02-24T17:43:05.0000000Z\",\r\n
        \   \"data_quote_end\": \"2019-06-16T20:14:07.1226499Z\",\r\n    \"data_orderbook_start\":
        \"2014-02-24T17:43:05.0000000Z\",\r\n    \"data_orderbook_end\": \"2019-06-16T20:14:15.7940000Z\",\r\n
        \   \"data_trade_start\": \"2010-07-17T23:09:17.0000000Z\",\r\n    \"data_trade_end\":
        \"2019-06-16T23:59:43.0000000Z\",\r\n    \"data_trade_count\": 4196037957,\r\n
        \   \"data_symbols_count\": 19008\r\n  },\r\n  {\r\n    \"asset_id\": \"CNY\",\r\n
        \   \"name\": \"Yuan Renminbi\",\r\n    \"type_is_crypto\": 0,\r\n    \"data_start\":
        \"2011-06-13\",\r\n    \"data_end\": \"2019-06-16\",\r\n    \"data_quote_start\":
        \"2015-02-11T16:50:54.6130000Z\",\r\n    \"data_quote_end\": \"2019-06-16T19:04:37.7000920Z\",\r\n
        \   \"data_orderbook_start\": \"2015-02-11T16:50:54.6130000Z\",\r\n    \"data_orderbook_end\":
        \"2019-06-16T20:13:11.8027151Z\",\r\n    \[...]
