---
http_interactions:
- request:
    method: get
    uri: https://rest.coinapi.io/v1/exchangerate/USD/BRL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Coinapi-Key:
      - CE92E1A2-B2E4-4AD1-9537-F3BB7FF14C9A
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '2019-06-17T20:19:24.9941148Z'
      X-Ratelimit-Request-Cost:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"time\": \"2019-06-16T20:18:46.1032597Z\",\r\n  \"asset_id_base\":
        \"USD\",\r\n  \"asset_id_quote\": \"BRL\",\r\n  \"rate\": 3.9217789561299418071600970525,\r\n
        \ \"intermediaries_in_the_path\": [\r\n    \"ETH\"\r\n  ]\r\n}"
  recorded_at: Sun, 16 Jun 2019 20:19:32 GMT
recorded_with: VCR 5.0.0
