---
http_interactions:
- request:
    method: get
    uri: https://rest.coinapi.io/v1/exchangerate/BTC/USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Coinapi-Key:
      - CE92E1A2-B2E4-4AD1-9537-F3BB7FF14C9A
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '2019-06-17T20:19:33.5266390Z'
      X-Ratelimit-Request-Cost:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: "{\r\n  \"time\": \"2019-06-16T20:18:49.4808283Z\",\r\n  \"asset_id_base\":
        \"BTC\",\r\n  \"asset_id_quote\": \"USD\",\r\n  \"rate\": 8849.359180687897898055922316\r\n}"
  recorded_at: Sun, 16 Jun 2019 20:19:34 GMT
recorded_with: VCR 5.0.0
